 <h1>
  Actor #<%= @actor_id.id %> details
</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_actor/504" class="btn btn-block btn-outline-secondary">
  Delete actor
  <small>(Building this link is not required. It's an optional stretch goal; but, you have the tools if you want to give it a try.)</small>
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @actor_id.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @actor_id.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @actor_id.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="http://robohash.org/<%= @actor_id.name%>?set=set7">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words (@actor_id.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words (@actor_id.updated_at) %> ago
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>


    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>


    
  </tr>
<%#@list_of_actor.all.each do |act| %>

<%  @list_of_characters.all.each do |char| %>
   <% movie = Movie.where(:id=> char.movie_id).first %>

   <% if char.actor_id == @actor_id.id %>

      <tr>
      <td>                
      <%= movie.title %>
      <%#= @list_of_movies %>
      </td>

      <td>
        <%= movie.year  %>
      </td>
      <td>
    
 <%  dir=Director.where(:id=>movie.director_id).first  %>

     <%= dir.name %>
         
      </td>

      <td>
      <%= char.name  %>
        
      </td>

      <td>
        <a href="/movies/<%= char.movie_id %>">
          Show details
        </a>
      </td>
    </tr>
     <%#else %>
     <% end %>
<% end %>
</table>

 <!--

-->
