

  
  
  <h1>
  List of all movies
</h1>




 <table border="1">
<% @list_of_movies.all.each do |mov| %>

<tr>
<td> <%= mov.id %>,  </td>


<td>
<img src="http://robohash.org/<%= mov.title %>" >
</td>

<td> <%= mov.title %>, </td>
<td> <%= mov.year %>,  </td>

 <% id =  mov.director_id %> 

 <%  @list_of_directors.all.each do |dir| %>
     <% if id == dir.id%>
    <td> <%= dir.name %>,  </td>
     <% else %>
     
     <% end %>

 <% end %>
<% id =  0 %> 


<td> <a href="/movies/<%=mov.id%>">
        Show details
      </a>  </td>


</tr>
<% end %>




</table>
